// Font // 

$font-main: arsenal;

// Color // 

$color-white: #fff;
$color-black: #000;
$color-outer: #f6f6f8;
$color-button-hover: #bdbdbd;

$itemsperscreen: 4;

$cart-width: 55%;

$footer-title-fontsize: 1.6rem;
$footer-fontsize: 1.3rem;  