input[type="email"]{
    border: 1px solid black;
    outline: none;
    padding-left: 1.5rem;
    width: 100%;
    background-color: #f6f3e4;
}
input[type="text"]{
    background-color: #f6f3e4;
    padding-left: 4rem;
}