.togglemenu{
    display: none;
    background-color: #f6f3e4;
    padding-top: 1rem;
    z-index: 20;
    &__iconwrap{
        height: auto;
        margin: auto;
    }

    &__icon{
        height: auto;
        width: 20rem;
        display: flex;
        font-size: 1.5rem;
        float: right;
        margin-right: 2rem;
        justify-content: space-around;
        align-items: center;
    }
}

.tooglemenu__sidebar{
    height: auto;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 2.5rem;
}

