body{
    font-family: montserrat;
    font-size: 1.3rem;
    line-height: 1.75;
}
::placeholder{
    text-align: left;
    color:#c1c1c1;
    font-family: arsenal;
    font-size: 1.3rem;
}
i{
    cursor: pointer;

    &:hover{
        opacity: 0.7;
    }
}