.u-margin-top-3{
    margin-top: 3rem;
}

.u-padding-left-4{
    padding-left: 4rem;
}
.u-padding-left-2{
    padding-left: 2rem;
}
.u-padding-right-2{
    padding-right: 2rem;
}

.u-margin-bottom-4{
    margin-bottom: 4rem;
}
.u-margin-bottom-6{
    margin-bottom: 6rem;
}
.u-bold{
    font-weight: bold;
}
.u-uppercase{
    text-transform: uppercase;
}
.u-list-style-square{
    list-style-type: square;
}
.u-margin-bottom-2{
    margin-bottom: 2rem;
}
.u-padding-horizontal-15{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.u-inline-block{
    display: inline-block;
    margin: 0 auto;
}
.u-display-none{
    display: none;
}
.u-text-align-center{
    text-align: center;
}
.u-icon-modify{
    margin: 3rem auto 0;
}
.u-margin-auto{
    margin: auto;
}
.u-padding-right-5-px{
    padding-right: 5px;
}
.u-height-6{
    height: 5rem;
}
.u-font-size-4{
    font-size: 4rem;
}
.u-margin-fixed{
    margin-top: 7.5rem;
}
.u-text-align-left{
    text-align: left;
}
// .u-color-first{
//     .layer__title::before{
//         background-color:#2a9d8f;
//     }
//     .layer__title{
//         color: #2a9d8f;
//         border-color: #2a9d8f;
        
//         &:hover{
//             color: white;
//         }
//     }
// }
// .u-color-second{
//     .layer__title::before{
//         background-color:#f77f00;
//     }
//     .layer__title{
//         color: #f77f00;
//         border-color: #f77f00;
//         &:hover{
//             color: white;
//         }
//     }
// }
// .u-color-third{
//     .layer__title::before{
//         background-color:#b5362d;
//     }
//     .layer__title{
//         color: #b5362d;
//         border-color: #b5362d;

//         &:hover{
//             color: white;
//         }
//     }
// }
.u-width-25{
    width: 25rem;
}