.support{

    &__title{
        padding: 6.5rem 0 2.5rem;
        text-align: center;
        
        & > span{
            font-size: 4.4rem;
            font-weight: 500;
        }
    }

    &__note{
        margin: 2rem 2rem 1rem;
    }
}